@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import 'tailwindcss';

body {
  font-family: 'poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* FONTS */

.font-press-start-2p-lg {
  font-family: 'Press Start 2P', system-ui;
  font-weight: 100;
  font-style: normal;
}

.font-press-start-2p-sm {
  font-family: 'Press Start 2P', system-ui;
  font-weight: 100;
  font-style: normal;
  font-size: small;
}

/* KEYFRAMES */

/* Fade in */
@keyframes fadeInDelay {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInButton {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Bounce */
@keyframes bounce-y {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce-x {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Typewriter */
@keyframes typing {
  from {
    width: 0%;
    opacity: 1;
    border-right-color: #f9a8d4;
  }
  to {
    width: 100%;
    opacity: 1;
    border-right-color: #f9a8d4;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes typing-end {
  from {
    border-right-color: #f9a8d4;
  }
  to {
    border-right-color: transparent;
  }
}

/* ANIMATIONS */

/* Fade in */
.animate-fade-in-delay {
  animation: fadeInDelay 0.5s ease-in-out forwards;
}

.animate-fade-in-delay-1 {
  animation: fadeInDelay 1s ease-in-out forwards;
}

.animate-fade-in-delay-2 {
  animation: fadeInDelay 2s ease-in-out forwards;
}

.animate-fade-in-delay-3 {
  animation: fadeInDelay 3s ease-in-out forwards;
}

.animate-fade-in-button {
  opacity: 0;
  animation: fadeInButton 1s ease forwards 15s, bounce-x 1s infinite 15.5s;
}

/* Bounce */
.animate-button-bounce-y {
  animation: bounce-y 0.9s infinite;
}

/* Typewriter */
.typewriter {
  overflow: hidden;
  border-right: 4px solid transparent;
  white-space: nowrap;
  display: inline-block;
  opacity: 0;
}

.stop-cursor {
  border-right: none !important;
}

.animate-typing-1 {
  animation: typing 3s steps(40, end) forwards, blink 0.75s step-end 4,
    typing-end 0s forwards;
  animation-delay: 0s, 0s, 3s;
}
.animate-typing-2 {
  animation: typing 3s steps(40, end) forwards, blink 0.75s step-end 4,
    typing-end 0s forwards;
  animation-delay: 3.5s, 3.5s, 6.5s;
}
.animate-typing-3 {
  animation: typing 3s steps(40, end) forwards, blink 0.75s step-end 4,
    typing-end 0s forwards;
  animation-delay: 7s, 7s, 10s;
}
.animate-typing-4 {
  animation: typing 3s steps(40, end) forwards, blink 0.75s step-end 4,
    typing-end 0s forwards;
  animation-delay: 10s, 10s, 13s;
}
.animate-typing-5 {
  animation: typing 3s steps(40, end) forwards, blink 0.75s step-end 4,
    typing-end 0s forwards;
  animation-delay: 13s, 13s, 16s;
}

.animate-typing-1,
.animate-typing-2,
.animate-typing-3,
.animate-typing-4,
.animate-typing-5 {
  width: 0;
}
