@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';

body {
  font-family: 'poppins', sans-serif;
}

.animate-fade-in-delay {
  animation: fadeInDelay 0.5s ease-in-out forwards;
}

.animate-fade-in-delay-1 {
  animation: fadeInDelay 1s ease-in-out forwards;
}

.animate-fade-in-delay-2 {
  animation: fadeInDelay 2s ease-in-out forwards;
}

.animate-fade-in-delay-3 {
  animation: fadeInDelay 3s ease-in-out forwards;
}

@keyframes fadeInDelay {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
